
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F5FF;
  }
 

  nav{
    background-color:white;
   position: fixed;
   padding: .5rem;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  .menus{
    float: right;
    
    margin-top: 0.8rem;
    
    border-radius: 0.7rem;
    width: fit-content;
  }
 
  nav ul li a{
    color:black; 
    gap: 25px;
   
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
    font-size: 16px;
    }
    .logo{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin-top: 0.7rem;
    }
    #checkbtn{
        font-size: 20px;
        float: right;
        margin-top: 2rem;
        height: fit-content;
        width: fit-content;
        margin-right: 90px;
        cursor: pointer;
        display:none;
        align-self:center;
        color: white;
    }
   
   
   
    #check{
        display:none;
    }

   
    main{
       margin-top: 4rem;
    }

   
    .span{
        color: #6D5ECE;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }

    h1{
      



    }

   
    
    
  
   .img{
    background-image: url('../img/pexels-photo-4554386.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    }

    .hero{
        

font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 33px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;



    }
    p{
        font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        line-height: 1.5;
        font-size: 14px;  
    }

    .content{
        position: absolute;
        margin-top: -35rem;
        padding: 1rem;
        color: white;
       
    }
    .img-overlay{
        background-color: #090966;
        width: 100%;
        height: 100%; 
        position: absolute;
        opacity: 0.79;

    }

    .numbers{
        margin-top: -20rem;
        color: white;
        position: absolute;
        padding: 2rem;
        font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
       
    }
    .ctg{
       
    }
    .ctg1{
       font-weight: 500;
       font-size: 16px;
    }
    .numbers1{
        text-align: center;
        color: black;
       margin-top: 3rem;
        line-height: 2;
        font-size: 30px;
        font-weight: 500;
       font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .nums{
        margin-top: 1rem;
        font-weight: 800;
        font-size: 22px;
    }
    h1{
        text-align: center;
        font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 29px;
    }
    .p1{
        font-size: 14px;
        text-align: center;
        font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: #797e9b;
    }

    .wrapper {
        position: relative;
        width: 200px; /* Set the width of the image container */
       margin-top: 3rem;
     /* Space around the image */
    }
    
    .image {
        position: relative;
        overflow: hidden; /* Prevents the overlay from exceeding the image bounds */
    }
    
    .imgs {
        display: block;
        width: 200px; /* Make the image responsive */
        height: 200px; /* Maintain aspect ratio */
        border-radius: 50%;
        object-fit: cover;
        
    }

    .imgs1{
        width:100%;
        opacity: black;
        cursor: pointer;
    transition: transform 0.2s;
    border-radius: 1rem;
 
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1rem;
        margin-top: 6rem;
    }
  
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
        color: white; /* Text color */
        display: flex;
        border-radius: 50%;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        opacity:0 ; /* Initially hidden */
        
        transition: opacity 0.3s ease; /* Smooth transition for opacity */
    }

    .h2{
        font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 400;
        font-size: 20px;
        margin-top: -3rem;
    }

    .p{
   line-height: rem;
   padding: 1rem;
   margin-top: 2rem;
    font-size: 12px;
    }
    
    .image:hover .overlay {
        opacity: 1; /* Show overlay on hover */
        cursor: pointer;
    }
    
    .text {
        text-align: center; /* Center text */
        margin-top: 3rem;
    }
    .profiles{
        display: grid;
        place-items: center;
    }
    footer{
        background-color: #090966;
    margin-top: 7rem;
        padding: 2rem;

   
    }

    ol ,a{
        text-decoration: none;
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
    }
    .ul-link{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;
        margin: auto;
        font-size: 18px;
        gap: 2rem;
    }
    .footer-text{
        text-align: center;
        color: #797e9b;
        margin-top: 3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    hr{
        border: 0.0003px solid  #797e9b;
        margin-top: 3rem;
    }
    @media (max-width:999px){
        .checkbtn{
            display: block;
           
        }
        
       
        .flex-box{
            margin-top: 4rem;
        }
        .box-container{
            margin-top: 2rem;
        }
        .center-text{
            text-align: center;
        }

       .menu-close{
        display: none;
       }
    ul{
    
        
    /*  position:absolute;
     width: 100%;
     height: 100vh;
     background:black;
     
     text-align: right;
    
     transition:  all 0.5s; */
    }
    
    ul{
        position:fixed;
        height: 300px;
        width: 100%;
        right:0;
        left: -100%;
        top: 0rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         text-align:start;
         background-color:white;
         font-family: 'Epilogue', sans-serif;
         transition: all 0.09s ;
         margin-top: 4.4rem;
         border-bottom-left-radius:1.5rem;
         border-bottom-right-radius:1.5rem;
        }
    
        .menu-items{
            overflow: scroll;
      scroll-snap-align: y mandatory;
      scroll-snap-type: mandatory;
            
        }
        .menu-items::-webkit-scrollbar{
            display: none;
        }
    
    
    
    
    nav ul li a{
        display:block;
        margin: 35px 0px;
        line-height: 1px;
        font-size: 14px;
        color:black;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        list-style:none;
        margin-top: 3rem;  
        text-align: center;
    }
    
    li{
        list-style: none;
    }
    
    .btn{
        width: 100%;
        display: flex;
    }
    ul li a{
        font-size:16px;
        
    }
    
    
    #check:checked ~ ul{
        left: 0;
    }
    }


    