*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    padding: 1rem;
}

.imbg {
 background-color:#a79fda;
height: 2rem;
width: 2rem; 
border-radius: 50%;
filter: brightness(1);
}
.right{
    display: flex;
    width: 100%;
    float: right;
    justify-content: end;
}

span{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.drop{
    margin-top: -1rem;
    object-fit: contain;
    width: 30px;
}

#itemsPop{
    width: 90%;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.box{
    background: red;
    width: 100%;
    padding: 2rem;
}
.container{
    display: none;
}
hr{
    margin-top: 1rem;
}
.upload-container {
    position: relative;
    display: inline-block;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

